*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.navbar{
    color: #fff;
    display: flex;
    justify-content: space-between; /*separa o itens*/
    align-items: center;
    background-color: #01064d;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}
.link{
  list-style: none;
  display: flex;
  gap: 25px;
}
.link a{
  text-decoration: none;
  color: white;
}
.link a:hover{
  color: #ebebeb;
}

samp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}
.opaccity{
  filter: opacity(10%);
  background-color: #01064d;
  height: 100vh;
}
.inicio{
  background-color: #01064d;
}


section.inicio{
   height: 100vh;
   background-color:#01064d;
   display: flex;  
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 0 60px;
   color: white;
}
#conteudo samp{
   font-size: 50px;
   font-weight: 700 ;
   line-height: 1.2;
   margin-bottom: 20px;
   flex-direction: column-reverse;
}   
.hero {
  font-size: 18px ;
  max-width: 500px;
  margin-bottom:40px ;
}
.button{
  display: flex;
  gap: 20px;
}
.btn-primary{
  background: yellow;
  color: black;
  padding: 14px 28px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary:hover{
  background: #f0e8c7;
  
}
.btn-outline{
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 12px 26px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover{
  background: white;
  color: black;
}

