*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.navbar{
    color: #fff;
    display: flex;
    justify-content: space-between; /*separa o itens*/
    align-items: center;
    background-color: #01064d;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}
.link{
  list-style: none;
  display: flex;
  gap: 25px;
}
.link a{
  text-decoration: none;
  color: white;
}
.link a:hover{
  color: #ebebeb;
}



.center{
  background-image: url(download.webp);
  filter: opacity(30%);
  background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #ebebeb;
    position: relative;
    
}



.center h1{
  color: #ebebeb;

}
.center p{
  color: #ebebeb;

}















.button{
  display: flex;
  gap: 20px;
}
.btn-primary{
  background: yellow;
  color: black;
  padding: 14px 28px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary:hover{
  background: #f0e8c7;
  
}
.btn-outline{
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 12px 26px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover{
  background: white;
  color: black;
}

.parte1 img{
  float: right;
  right: 100px;
  width: 40%;
  height: 40%;
  
}

.parte2 img{
    float: left;
    width: 40%;
    height: 40%;
    
}
.escrita1{
  float: left;
  margin: 5%;
}
.escrita2{
  float: right;
  margin: 5%;
  
}









footer{
  background: #01064d;
  color: #ebebeb;
}